 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <p>Passionate about solving real-world problems with technology. Skilled in software engineering(Java, C#, C++, Python, SQL), and virtual reality application development(Expertise in Unity, CAVE, and HMDs). Expert in BIM applications in AEC with a Ph.D. in Architectural Engineering/Building informatics and design visualization</p>
                    <br>
                    <p align="center">My CV can be downloaded here:
                    </p>
                </div>
            </div>
<!--                 <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
            <br>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <a href="#" class="btn btn-lg btn-primary">
                        <i class="fa fa-download"></i> My Curriculum Vitæ
                    </a>
                </div>
            </div>
        </div>
    </section>